$colorFondoTallerDetalles:#43B582;
$colorFondoBoton:#0D6EFD;
$colorFondoBoton2:#BC3A2F;
.taller_detalles{
    background-color:$colorFondoTallerDetalles;
    width: 77%;
    margin: 0 auto;
    height: 565px;
    margin-top: 1%;
    font-size: 1.1em;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Poppins';
    
}
button.btn.btn-secondary{
    float: left;
    clear: both;
    margin-left: 51%;
    margin-top: -4%;
    background-color: $colorFondoBoton2;
    width: 50px;
}
button.btn.btn-primary{
    clear: both;
    float: left;
    margin-left: 41%;
    margin-top: 2%;
    width: 50px;
}
.btn-secondary:hover{
    color: $colorFondoTallerDetalles;
    background-color: $colorFondoBoton;
    border-color: $colorFondoBoton;
}
#titulo{
    padding-top: 3%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.5rem;
    
}
#fecha_inicio{
    padding-top: 25%;
    width: 19%;
    float: left;
    margin-left: 33%;
}
#fecha_fin{
    width: 42%;
    float: left;
    display: flex;
    padding-top: 25%;
    margin-left: 1%;
}
#descripcion{
    clear: both;
    width: 40%;
    margin-left: 33%;
}
#precio{
    width: 15%;
    margin-left: 33%;
}
#capacidad{
    width: 15%;
    margin-left: 33%;
}
#texto{
    margin-left: 30%;
}