$colorFondoCursoDetalles:#B2E0C1;
$colorFondoBoton:#0D6EFD;
$colorFondoBoton2:#BC3A2F;
.curso_detalles{
    background-color: $colorFondoCursoDetalles;
    width: 77%;
    margin: 0 auto;
    height: 700px;
    font-size: 1.1em;
    font-family: 'Poppins';
    border-radius: 50px;
    font-weight: bold;
    
}
button.btn.btn-secondary{
    float: left;
    clear: both;
    margin-left: 50%;
    margin-top: -4.1%;
    background-color: $colorFondoBoton2;
}
button.btn.btn-primary{
    clear: both;
    float: left;
    margin-left: 35%;
    margin-top: 4%;
}
.btn-secondary:hover{
    color: $colorFondoCursoDetalles;
    background-color: $colorFondoBoton;
    border-color: $colorFondoBoton;
}
#titulo{
    padding-top: 3%;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;

}
#fecha_inicio{
    padding-top: 25%;
    width: 19%;
    float: left;
    margin-left: 30%;
}
#fecha_fin{
    width: 42%;
    float: left;
    display: flex;
    padding-top: 25%;
    margin-left: 1%;
}
#descripcion{
    clear: both;
    width: 40%;
    margin-left: 30%;
}
#precio{
    width: 15%;
    margin-left: 30%;
}
#capacidad{
    width: 15%;
    margin-left: 30%;
}