div.card{
    margin-left: 6%;
    margin-bottom: 2%;
    font-family: 'Poppins';
    margin-top: 2%;
    border-radius: 56px;
    background-color: #B2E0C1;
}
.talleres{
    /* display: flex !important; */
    display: flex;
   flex-wrap: wrap;
}
.imagen{
    text-align: center;
}